@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: #fff;
  color: #f9faf8;
}

/* containers */
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  max-width: 920px;
  margin: 0 auto;
}

/* nav header */
.header {
  height: 30rem;
  background-color: #1f2937;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 100px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header__logo .logo:hover {
  text-decoration: underline;
  transition: 0.3s ease-in;
}

.menu__items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu__item-link {
  color: #e5e7eb;
  font-weight: 400;
}

.menu__item-link:hover {
  background-color: #f9faf8;
  color: #1f2937;
  transition: 0.3s ease-out;
  padding: 10px;
}

/* header content */

.header__images {
  width: 500px;
  height: 250px;
}

.header__information {
  display: flex;
  font-weight: 700;
}

.information__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.information__title {
  width: 305px;
  font-size: 36px;
  font-weight: bold;
}

.information__paragraph {
  margin-right: 30px;
  font-weight: 300;
  font-style: italic;
}

.btn__genius {
  background-color: #3882f6;
  border: none;
  color: #e5e7eb;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s all ease-in;
}

.btn__genius:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

/* music best tracks */

.music__tracks {
  padding-top: 50px;
  background-color: #fff;
  padding-bottom: 120px;
}

.music__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #1f2937;
}

.music__cards {
  display: flex;
  justify-content: space-between;
}
.card__item img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.9s ease-in-out;
  margin-bottom: 10px;
}

.card__item img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg) scale(1.5);
}

.name__track {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #1f2937;
  font-weight: 300;
  font-size: 18px;
}

/* concert list*/

.citation {
  background-color: #e5e7eb;
  padding: 100px 0 100px 0;
}

.citation__list {
  display: flex;
  justify-content: center;
}

.citation__info {
  width: 830px;
  font-style: italic;
  font-size: 34px;
  color: #1f2937;
}

.name__citation {
  display: flex;
  justify-content: end;
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
}

/* login */

.contact {
  padding: 100px 0 100px 0;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #3882f6;
  padding: 50px 100px;
  border-radius: 20px;
}

.contact__title {
  font-size: 24px;
  font-weight: bold;
}

.contact__box {
  font-size: 18px;
  font-weight: 300;
}

.btn {
  cursor: pointer;
  background-color: #3882f6;
  border: 2px solid #fff;
  color: #e5e7eb;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

/* footer styles */

.footer {
  background-color: #1f2937;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.footer__title a {
  color: #e5e7eb;
  text-decoration: underline;
}
